{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}About Us {% endblock %}</title>
</head>
<body>
{% block pagecontent %}
    <h1>Browse available time slots:</h1>
    <div style="display: flex; flex-direction: row; justify-content: space-between">
        <div style="flex: 1; margin-right: 32px;">
            <form style="padding: 16px; box-sizing: border-box;">
                <section>
                    <p>
                      <select id="sort" name="sort">
                        <option value="visa" disabled selected>Sort by:</option>
                        <option value="price-asc">Price ascending</option>
                        <option value="price-desc">Price descending</option>
                      </select>
                    </p>
                </section>

                <section>
                    <fieldset>
                        <legend>Location</legend>
                        <ul>
                            <li>
                                <label for="location-remote">
                                    <input type="radio" id="location-remote" name="location" value="remote" >
                                    Remote
                                </label>
                            </li>
                            <li>
                                <label for="location-onsite">
                                    <input type="radio" id="location-onsite" name="location" value="onsite">
                                    On-site
                                </label>
                            </li>
                        </ul>
                    </fieldset>

                     <fieldset>
                        <legend>Subject</legend>
                        <ul>
                            {% for subject in subjects %}
                            <li>
                                <label for="subject-{{ subject.id_subject }}">
                                    <input type="radio" id="subject-{{ subject.id_subject }}" name="subject" value="{{ subject.id_subject }}"/>
                                    {{ subject.name }}
                                </label>
                            </li>
                            {% endfor %}
                        </ul>
                    </fieldset>
                </section>

                <div style="margin-top: 16px; display: flex; justify-content: flex-end;">
                    <input type="submit" value="Search"/>
                </div>

            </form>
        </div>
        <div style="flex: 2; display: flex; flex-direction: column;">
            <div style="display: grid; grid-row-gap: 32px;">
                {% for tutoring in tutorings %}
                    {% include "components/tutoring_search_result.html" with tutoring=tutoring%}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
</body>
</html>